.footer{
    background-color: #e9e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding:3rem ;
    
}

.footer img{
    width: 80px;
}

.footer p{
    font-size: 16px;
    color: var(--cinza);
    font-weight: 600;
}

.redes-sociais{
    display: flex;
    gap: 2rem;
}

.redes-sociais img{
    width: 24px;
}