.secao__empresas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 0;
    margin-bottom: 4rem;
    
}

@media screen and (min-width:1400px) {
    .secao__empresas{
        display: flex;
        flex-direction: row;
    }
}